//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: yar2000T <https://github.com/yar2000T>
// SPDX-License-Identifier: MIT

@use '../../variables.scss' as *;
@use '../../mixins.scss' as *;

.container {
  color: $text-normal;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  @include text-input;
  padding: 10px;

  &.error {
    box-shadow: 0 0 15px rgba(255, 64, 64, 1) inset;
  }

  &.warning {
    box-shadow: 0 0 15px rgb(255, 200, 64) inset;
  }
}

.errorMessage {
  color: light-dark(#d63031, #ff6b6b);
  font-size: 0.85em;
  line-height: 1.3em;
}

.warningMessage {
  color: light-dark(#f39c12, #ffc107);
  font-size: 0.85em;
  line-height: 1.3em;
}

.buttons {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
